AP wing
rho 1.196
ele_PWM_min 1226
ele_PWM_max 1774
ail_PWM_min 1186
ail_PWM_max 1826
rud_PWM_min 1300
rud_PWM_max 1740
thr_PWM_min 1085
thr_PWM_max 1904
vel_trim 30.5755
AoA_trim 0.01766
wyy_trim 0.0
pit_trim 0.0
bet_trim 0.0
wxx_trim 0.0
wzz_trim 0.0
rol_trim 0.0
yaw_trim 0.0
vel_min 0.0
vel_max 50.0
AoA_lim 0.1745
wyy_lim 0.8727
pit_lim 0.3491
bet_lim 0.1745
wxx_lim 1.2217
wzz_lim 0.6109
rol_lim 1.2217
